<div class="search-text">
  <input type="search" placeholder="Search" [(ngModel)]="data1" class="text-area">
  <input type="file" class='m-4'(change)="handleFileInput($event)">
</div>
<div class="container-fluid">
  <div class="row">
    <ng-container *ngFor="let product of userList | filter:data1">

      <div class="col-md-3 p-3">
        <div class="card" style="width: 18rem; ">
           <!-- <img class="card-img-top" src={{fileName}} alt="Card image cap"> -->
           <video controls="controls">
            <source src={{product.videoUrl}} type="video/mp4" />
          </video>
          <div class="card-body">
            <h5>{{product.id}}</h5>
            <h5 class="card-title text-truncate">{{product.title}}</h5>
            <p class="card-text text-truncate">{{product.description}}</p>
            <p class="card-text text-truncate">{{product.views}}-view</p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let value of videoUrl">
      <div class="col-md-3">
        <video *ngIf="videoUrl" [src]="value" controls class="video"></video>
      </div>
    </ng-container>
  </div>
</div> 




<!-- <input type="file" (change)="handleFileInput($event)"> -->
<!-- <video *ngIf="videoUrl" [src]="videoUrl" controls class="video"></video> -->
<!-- <div class="container-fluid"> -->
<!-- <div class="row">
  <ng-container *ngFor="let value of videoUrl">
    <div class="col-md-3">
      <video *ngIf="videoUrl" [src]="value" controls class="video"></video>
    </div>
  </ng-container>
</div> -->
<!-- </div> -->
